%header_shadow_box {
  -webkit-box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  -moz-box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
}

%navbar_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%navbar_flexImg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

%text_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

%home_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  height: 550px;
}
%flex{
    display: flex;
    align-items: center;
}
