$header_bg: #fff;
$navbar_text: #2c2b35;
$text_color: #2c2b35;
$text_hover: #52e259;
$btn_color_bg: #52e259;
$btn_hover: #43a548;
$home_bg: #fff;
$home_text: #fff;
$cart_text: #6f7973;
$cart_color: #43a548;
$btn_bg: #fff;
$bg_color: #fff;
$main_bg:#f7f8f8;
$cart_gift:#ebf6ec;
$gift_text:#43a548;
$icon_color:#e21b4d;
$icon_Color:#52e259;
$cartBg:3e1f7e2;
