@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter",sans-serif;
    background-color: #f7f8f8;
}

.container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
