@use "./base/global";
@use "./base/reset";
@use "./base/typography";

@use "./components/button";
@use "./components/card";
@use "./components/navbar";

@use "./layout/footer";
@use "./layout/grid";
@use "./layout/header";
@use "./pages/about";
@use "./pages/home";
@use "./themes/variables";

h1{
    color: rgb(70, 221, 0);
}