@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  -moz-box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
}
body{
    font-family: "Inter",sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar .navText {
padding-left: 343px;
}    


.header .nav_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .navbar .nav_flex .navImg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.header .navbar .nav_flex .navImg img {
  width: 40px;
}

.header .navbar .nav_flex .navImg h4 {
  font-size: 24px;
  font-weight: 600;
  color: #2c2b35;
}

.header .navbar .nav_flex .navText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header .navbar .nav_flex .navText ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header .navbar .nav_flex .navText ul li a {
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #2c2b35;
  transition: all 0.3s;
  cursor: pointer;
}

.header .navbar .nav_flex .navText ul li a:focus {
  color: #52e259;
}

.header .navbar .nav_flex .navText ul li a:hover {
  color: #52e259;
}

.header .navbar .nav_flex .navText button {
  width: 82px;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  background-color: #52e259;
  font-size: 15px;
  border: 1px solid #52e259;
  transition: all 0.3s;
  cursor: pointer;
}

.header .navbar .nav_flex .navText button:hover {
  background-color: #43a548;
  border: #43a548;
}

.header .menuM {
  display: none;
}

@media (max-width: 480px) {
  .container {
    width: 360px;
  }

  .header .navbar .nav_flex .navText {
    display: none;
  }

  .header .navbar .nav_flex .menuM {
    display: block;
    font-size: 30px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .header .navbar .nav_flex .menuM:hover {
    color: #52e259;
  }
}
.texts{
    margin-top: 70px;
}
.nachats{
    margin-top: 30px;
}