.grid {
  background-color: #ebf5eb;
  .grid_flex {
    height: 500px;
    margin-top: 30px;
    .grid_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      h3 {
        font-size: 25px;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        color: #2c2b35;
      }
      button {
        width: 190px;
        height: 45px;
        padding: 10px;
        border-radius: 30px;
        color: #fff;
        font-size: 15px;
        border: 1px solid #43a548;
        background-color: #43a548;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background-color: #52e259;
          border: #52e259;
          color: #fff;
        }
      }
    }
    .Grid_flex {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      .gridC {
        width: 420px;
        height: 300px;
        background-color: #fff;
        border-radius: 30px;
      }
    }
  }
}
