@use "../components/button";
@use "../themes/mixsin";
@use "../themes/variables";
.drov {
  h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #3d4641;
  }
  .dawn {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
    h4 {
      transition: all 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #3d4641;
      i {
        font-size: 20px;
      }
    }
    &:hover {
      h4 {
        color: #52e259;
        i {
          color: #52e259;
        }
      }
    }
    &:nth-child(6) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(178.11deg, #43a548 -147.02%, #52e259 286.68%);
      color: #fff;
      h4 {
        color: #fff;
      }
      button {
        width: 190px;
        height: 45px;
        padding: 10px;
        border-radius: 30px;
        color: #fff;
        background-color: #2c2b35;
        font-size: 15px;
        border: 1px solid #0000;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 480px) {
  .drov {
    .dawn {
      h4 {
        line-height: 1.4;
      }
      &:nth-child(6) {
        display: block;
        align-items: center;
        justify-content: center;
        h4 {
          line-height: 1.5;
          text-align: center;
        }
        button {
          width: 305px;
          background-color: #fff;
          color: #43a548;
        }
      }
    }
  }
}

.cart_btnF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #2c2b35;
  }
  button {
    width: 190px;
    height: 45px;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    background-color: #52e259;
    border: 1px solid #52e259;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: #43a548;
    }
  }
}

.btn_flex {
  display: flex;
  align-items: center;
  gap: 20px;

  .img_btn {
    width: 420px;
    height: 280px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 30px;
    h4 {
      font-size: 16px;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      padding-left: 20px;
      line-height: 1.5;
      color: #3d4641;
      transition: all 0.3s;
      cursor: pointer;
      span {
        color: #fff;
      }
      &:hover {
        color: #43a548;
      }
    }
    h5 {
      font-size: 15px;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      color: #43a548;
      margin-left: 260px;
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
  .cart_btnF {
    button {
      display: none;
    }
  }
  .btn_flex {
    display: block;
    .img_btn {
      width: 360px;
      margin-bottom: 20px;
      h5 {
        margin-left: 230px;
      }
    }
  }
}

.imG {
  margin-top: 80px;
  h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #2c2b35;
  }
  .imG_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 60px;
    img {
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        transform: translateY(-10px);
      }
    }
    .img1 {
      width: 130px;
    }
    .img2 {
      width: 90px;
      margin-top: 10px;
    }
    .img4 {
      width: 130px;
    }
    .img1 {
      width: 130px;
    }
    .img1 {
      width: 130px;
    }
  }
}

@media (max-width: 480px) {
  .imG {
    margin-top: 10px;
    overflow: hidden;
    line-height: 1.5;
    .imG_flex {
      overflow: auto;
      padding-bottom: 30px;
      margin-top: 20px;
    }
  }
}
