footer {
  background-color: #2c2b35;
  height: 430px;
  .footer_flex {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .footer_text {
    padding-top: 60px;
    p {
      font-size: 14px;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      color: #919999;
      line-height: 1.5;
      span {
        color: #52e259;
      }
      mark {
        background-color: #2c2b35;
        padding-left: 35px;
        font-size: 14px;
        color: #919999;
      }
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 40px;
    }
    button {
      width: 190px;
      height: 45px;
      padding: 10px;
      border-radius: 30px;
      color: #fff;
      font-size: 15px;
      background-color: #52e259;
      border: 1px solid #52e259;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #43a548;
        border: 1px solid #43a548;
      }
    }
  }
  .footer_texT {
    display: flex;
    align-items: center;
    gap: 70px;
    ul{
        margin-top: 55px;
        li{
            font-size: 14px;
            font-weight: 400;
            font-family: "Inter",sans-serif;
            color: #FFFFFF;
            line-height: 3;
            transition: all 0.3s;
            cursor: pointer;
            span{
                color: #52e259;
            }
            &:hover{
                color: #52e259;
            }
            &:nth-child(1){
                font-size: 16px;
                font-weight: 600;
                font-family: "Inter",sans-serif;
                color: #F7F8F8;
            }
        }
    }
  }
  .hr{
    border-top: 2px solid #494949;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    p{
        font-size: 14px;
        font-weight: 400;
        font-family: "Inter",sans-serif;
        color: #919999;
        span{
            color: #fff;
        }
    }
  }
}

@media (max-width:480px){
    footer{
        height: 900px;
        .footer_flex{
            display: block;
            .footer_text{
                button{
                    display:none;
                }
            }
        }
        .footer_texT{
            display: block;
            ul{
                margin-top: 20px;
                padding: 0;
            }
        }
        hr{
            p{
                span{
                    color: #43a548;
                }
            }
        }
    }
}