.cart {
  background-color: #f7f8f8;
  padding-top: 60px;
  .parent {
    .parent_flex {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      .parent_cart {
        width: 640px;
        height: 280px;
        background-color: #fff;
        border-radius: 30px;
        padding: 20px 30px;
        .parent_img {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            font-size: 24px;
            font-weight: 600;
            font-family: "Inter", sans-serif;
            color: #2c2b35;
          }
        }
        p {
          font-size: 15px;
          font-weight: 400;
          font-family: "Inter", sans-serif;
          line-height: 1.6;
          color: #6f7973;
        }
        button {
          width: 190px;
          height: 45px;
          padding: 10px;
          border-radius: 30px;
          color: #fff;
          background-color: #52e259;
          font-size: 15px;
          border: 1px solid #52e259;
          margin-top: 25px;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #43a548;
            border: #43a548;
          }
        }
      }
    }
    .parentFelx {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      .parentCart {
        width: 420px;
        height: 280px;
        border-radius: 30px;
        background-color: #fff;
        padding: 20px 30px;
        .parent_imG {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            font-size: 24px;
            font-weight: 600;
            font-family: "Inter", sans-serif;
            color: #2c2b35;
          }
        }
        p {
          font-size: 15px;
          font-weight: 400;
          font-family: "Inter", sans-serif;
          line-height: 1.6;
          color: #6f7973;
        }
        button {
          width: 190px;
          height: 45px;
          padding: 10px;
          border-radius: 30px;
          color: #fff;
          background-color: #52e259;
          font-size: 15px;
          border: 1px solid #52e259;
          margin-top: 25px;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #43a548;
            border: #43a548;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .cart {
    .parent {
      .parent_flex {
        display: block;
        .parent_cart {
          width: 300px;
          height: 390px;
          margin-bottom: 20px;
        }
      }
      .parentFelx {
        display: block;
        margin-top: 20px;
        .parentCart {
          width: 300px;
          height: 325px;
          margin-bottom: 20px;
          p {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
