.header {
  -webkit-box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  -moz-box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  box-shadow: 2px 11px 21px -19px rgba(150, 150, 150, 1);
  .navbar {
    .nav_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navImg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        img {
          width: 40px;
        }
        h4 {
          font-size: 24px;
          font-weight: 600;
          color: #2c2b35;
        }
      }
      .navText {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          li {
            a {
              font-size: 15px;
              font-weight: 500;
              font-family: "Inter", sans-serif;
              color: #2c2b35;
              transition: all 0.3s;
              cursor: pointer;
              &:focus {
                color: #52e259;
              }
              &:hover {
                color: #52e259;
              }
            }
          }
        }
        button {
          width: 82px;
          height: 45px;
          padding: 10px;
          border-radius: 30px;
          color: #fff;
          background-color: #52e259;
          font-size: 15px;
          border: 1px solid #52e259;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #43a548;
            border: #43a548;
          }
        }
      }
    }
  }
}
